/* Reset básico */
body{
  margin: 0;
  font-family: sans-serif;
}

/* NAVBAR */
.nav{
  
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  background-color: rgba(246, 1, 1, 0.95);
  z-index: 3000;
}

.nav__titulo{
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav__iconoAdmin{
  width: 30px;
  margin-left: 40px;
}

/* Links desktop */
.nav__links-desktop{
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav__links-desktop a{
  color: white;
  text-decoration: none;
}

/* Hamburguesa */
.nav__hamburguesa{
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav__hamburguesa span{
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 3px;
}

/* OVERLAY */
.nav__overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  z-index: 1500;
}

.nav__overlay--show{
  opacity: 1;
  pointer-events: all;
}

/* DRAWER */
.nav__drawer{
  position: fixed;
  top: 0;
  right: 0; 
  width: 250px;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  transform: translateX(100%);
  transition: transform .3s ease;

  z-index: 2000;
  padding: 20px;
  box-shadow: -10px 0 30px rgba(0,0,0,0.15);

}

.nav__drawer--show{
  transform: translateX(0);
}

.nav__drawer-header{
  position: relative;
  width: 100%;
}


.nav__close-btn{
  position: absolute;
  top: 10px;
  right: 10px;

  background: none;
  border: none;
  color: #000000;
  font-size: 26px;
  cursor: pointer;
 
}

.nav__drawer-links{
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.nav__drawer-links li{
  margin-bottom: 20px;
}

.nav__drawer-links a{
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.nav__drawer-links a:hover{
  color: white;
}

.nav__iconos{
    width: 30px;
    margin-right: 15px;
    width: 18px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

/* RESPONSIVE */
@media (max-width: 768px){

  .nav__links-desktop{
    display: none;
  }

  .nav__hamburguesa{
    display: flex;
  }

}
